@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    color: white;
    font-weight: 600;
}

body {
    background: url('../assets/bg.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgb(0, 0, 0, 0.15);

}

.regular-txt {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 10px;


}
.find-out-weather{
    line-height: 18px;
}

.main-container {
    /* border :solid; */
    width: 300px;
    height: 496px;
    z-index: 10;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.15), rgb(225, 225, 225, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
    overflow: hidden; 
    position: relative;

}

/* input Container */
.input-container {
    position: relative;
    margin-bottom: 25px;
}

.city-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: o.25s border;
    padding-right: 45px;

}

.city-input:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
    color: rgb(225, 225, 225, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    border: none;
    cursor: pointer;
    background: none;
    display: flex;
}

.location-date-conatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -12px;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.temp-txt ,.wind-value-txt{
    font-size: 1.2rem;
display: flex;
justify-content: flex-end;    
}
.temp-txt {
    font-size: 2rem;
  
}
.condition-txt{display: flex;
    justify-content: flex-end;}

.weather-summary-img {
    width: 100px;
    height: 100px;
}

.weather-conditions-container {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item span {
    font-size: 25px;
}

.forecast-items-container {
    display: flex;
    text-align: center;
    gap: 15px 6px;
    /* margin-top: 10px; */
    padding-bottom: 12px;
    overflow-x: scroll;

}
.forecast-item-condition {
    font-size: 10px;
    font-weight: 400;
    color: white;
    margin-top: -15px;
    line-height: 10px;

}
.forecast-item-date{
    font-size: 0.6rem;
    padding-top: 6px;
    
}
.forecast-item-temp{
    font-size: 0.7rem;
}

.forecast-items-container::-webkit-scrollbar {
    height: 8px;
 
}

 .forecast-items-container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
} 

.forecast-item {
    min-width: 60px;
    background: rgb(225, 225, 225, 0.1);
    border-radius: 10px;
    padding: 3px 0px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    gap: 6px;
    transition: 0.3s background;
    cursor: pointer;
}
.forecast-item:hover {
    background: rgb(225, 225, 225, 0.30);
   
}
.forecast-item-for-thirty-days:hover {
    background: rgb(225, 225, 225, 0.30);
   
}

.forecast-item-img {
    width: 45px;
    height: 45px;
    margin-top: -6px;

}
/* section start */
.section-message img{
    height: 180px;
    width: fit-content;
  
}
.section-message{
      display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 25%;
}
/* section end start */


.forecast-items-container-for-thirty-days{
    text-align: center;
    gap: 15px;
    /* margin-top: 10px; */
    /* padding-bottom: 100%; */
    /* margin-bottom: 150px; */
    overflow-y: scroll; /* Enable vertical scrolling */
    max-height: 400px; /* Set a fixed height for the container */
    overflow-x: hidden; /* Prevent horizontal overflow */
    position: relative;
    /* margin-bottom: 20px; */
    /* overflow: hidden; */
    /* bottom: 20px; */

   
}
.forecast-item-for-thirty-days:last-child {
    /* background-color: rgba(255, 0, 0, 0.495); 
    border: 2px solid red; 
    font-weight: bold;  */
    margin-bottom: 100%;/* Example: Make text bold */
}
.forecast-item-for-thirty-days {
    display: flex;
    background: rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    margin-top: 5px;
   
    align-items: center;
    justify-content: space-around;
    transition: 0.3s background;
    cursor: pointer;
    /* margin-bottom: 5%; */
    /* padding: 10px;  */
    width: 100%; /* Ensure items fit within the container */
}
.forecast-items-container-for-thirty-days::-webkit-scrollbar {
    width: 8px;
    display: none;
}

 .forecast-items-container-for-thirty-days::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-items-container-for-thirty-days::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
} 
.forecast-item-date-for-thirty-days {
    font-size: 0.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
 
}
.forecast-item-day-for-thirty-days{
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.forecast-item-img-for-thirty-days{
    width: 33px;
    height: 33px;
    overflow: hidden;
}
.forecast-item-condition-for-thirty-days{
    font-size: 10px;
    font-weight: 400;
    color: white;
    line-height: 10px;
}
.forecast-item-date-for-thirty-days{
    display: inline-block;
    flex-direction: row;
    display: flex;
    white-space: nowrap;
}